@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(22, 27, 34);
}

.App {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 27, 34);
}

.create,
.goal {
  color: #fff;
  height: 50%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.create h1 {
  font-size: 25px;
}

.create form {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.create form input,
button {
  padding: 1vw 2vw;
  border-radius: 25px;

  margin-right: 10px;
}

button {
  background-color: rgb(0, 154, 103);
  color: #fff;
  border: 2px solid #fff;
}

button:disabled {
  opacity: 0.5;
}

button:active {
  background-color: rgb(35, 146, 255);
}

.create form input {
  outline-color: aqua;
  outline-offset: 4px;
  border: none;
}

.socials {
  position: fixed;
  left: 5%;
  bottom: 5%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
}

.socials p a {
  color: #fff;
  font-size: 10px;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .App {
    height: 90vh;
  }

  .create,
  .goal {
    height: 80%;
    width: 80%;
  }

  .create form {
    flex-direction: column;
    width: 60%;
    gap: 4vh;
  }

  .create form input {
    padding: 2vw 2vw;
  }

  .create h1 {
    font-size: 5vw;
  }
}
